<form class="am-center am-vertical-align-middle am-form" style="width: 400px">
    <fieldset>
        <div class="am-input-group" style="padding: 3px">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <input id="oldPwd" type="password" class="am-form-field" placeholder=" 原始密码" required/>
        </div>
        <div class="am-input-group" style="padding: 3px">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <input id="newPwd" type="password" class="am-form-field" placeholder=" 修改密码" required/>
        </div>
        <div class="am-input-group" style="padding: 3px">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <input id="newPwdConfirm" type="password" class="am-form-field" placeholder=" 确认密码" required/>
        </div>
    </fieldset>
</form>