<div class="row" ng-controller="optionResultControl" style="margin-top: -1px;">
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                操作记录查询
            </div>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-margin-left-sm am-fl">
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 250px">
                            <span class="am-input-group-label" style="padding: 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-search am-icon-fw"></i>
                                操作名称：
                            </span>
                            <input type="text" class="am-form-field" placeholder="关键字" ng-model="filter_keywords.operation">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 250px">
                            <span class="am-input-group-label" style="padding: 0 19px 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-user am-icon-fw"></i>
                                操作人：
                            </span>
                            <input type="text" class="am-form-field" placeholder="关键字" ng-model="filter_keywords.operator">
                        </div>
                    </div>
                </div>
                <div class="am-margin-left-sm am-fl">
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 150px">
                            <span class="am-input-group-label" style="padding: 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-calendar am-icon-fw"></i>
                                操作时间 From：
                            </span>
                            <input type="date" class="am-form-field" style="padding-left: 3px; line-height: normal; height: 33px;" ng-model="filter_keywords.executeStartDate">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 150px">
                            <span class="am-input-group-label" style="padding: 0 23px 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-calendar am-icon-fw"></i>
                                操作时间 To：
                            </span>
                            <input type="date" class="am-form-field" style="padding-left: 3px; line-height: normal; height: 33px;" ng-model="filter_keywords.executeEndDate">
                        </div>
                    </div>
                </div>
                <div class="am-margin-left-xs am-fl">
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary">
                            <input type="time" class="am-form-field" style="width: 80px;padding-left: 3px;line-height: normal; height: 33px;" ng-model="filter_keywords.executeStartTime">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary">
                            <input type="time" class="am-form-field" style="width: 80px;padding-left: 3px;line-height: normal; height: 33px;" ng-model="filter_keywords.executeEndTime">
                        </div>
                    </div>
                </div>
                <div class="am-margin-left-sm am-fl">
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 250px">
                            <span class="am-input-group-label" style="padding: 0 19px 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-user-plus am-icon-fw"></i>
                                授权人：
                            </span>
                            <input type="text" class="am-form-field" placeholder="关键字" ng-model="filter_keywords.authorizor">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-input-group am-input-group-sm am-input-group-secondary" style="width: 250px">
                            <span class="am-input-group-label" style="padding: 0 5px; line-height: normal; border-color: #32c5d2; background: #32c5d2">
                                <i class="am-icon-gg am-icon-fw"></i>
                                操作结果：
                            </span>
                            <select class="am-form-field" ng-model="filter_keywords.result" ng-init="filter_keywords.result='any'">
                                <option value='any' selected>任意</option>
                                <option value='true'>成功</option>
                                <option value="false">失败</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-input-group am-input-group-sm am-input-group-secondary am-fl" style="width: 250px; margin-left: 1rem;">
                    <span class="am-input-group-label" style="padding: 0 5px; line-height: normal;">
                        <i class="am-icon-pagelines am-icon-fw"></i>
                        每页记录数：
                    </span>
                    <select class="am-form-field" ng-model="listsPerPage" ng-options="count for count in listCounts">
                    </select>
                </div>
                <div class="am-btn-toolbar am-fr am-margin-right">
                    <div class="am-btn-group am-btn-group-sm">
                        <button class="am-btn am-btn-secondary am-round" ng-click="filter_keywords={result: 'any'}"><i class="am-icon-trash am-icon-fw"></i>清除</button>
                        <!-- <button class="am-btn am-btn-secondary am-round am-disabled"><i class="am-icon-search am-icon-fw"></i>查询</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <table class="am-table am-table-hover table-main" id="resultTable">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <span>操作名称</span>
                                </th>
                                <th width="13%">
                                    <span>操作人</span>
                                </th>
                                <th width="20%">
                                    <span>操作时间</span>
                                </th>
                                <th width="13%">
                                    <span>授权人</span>
                                </th>
                                <th width="20%">
                                    <span>授权时间</span>
                                </th>
                                <th>
                                    <span>操作结果</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="loadingShow">
                                <td colspan="6" align="center">
                                    <i class="am-icon-spinner am-icon-pulse am-icon-md"></i>
                                    <span>查询中...</span>
                                </td>
                            </tr>
                            <tr ng-show="!loadingShow" ng-repeat="data in operationRecordsData | resultFilter:filter_keywords:this | paging:currentPage*listsPerPage | limitTo:listsPerPage track by $index" ng-class="{true: 'am-success',false: 'am-danger'}[data.results[0].error_code==0]">
                                <td>{{data.operation.name}}</td>
                                <td>{{data.operator.name}}</td>
                                <td>{{data.operated_at}}</td>
                                <td>{{data.authorizor.name}}</td>
                                <td>{{data.authorized_at}}</td>
                                <td>
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-margin-right-xs" ng-click="show_result($index)">
                                            <span class="am-icon-pencil-square-o"></span> 查看结果
                                        </button>
                                    </div>
                                    <div class="am-modal am-modal-alert" tabindex="-1" id="{{'op_result' + $index}}">
                                        <div class="am-modal-dialog" style="color: #93a2a9">
                                            <div class="am-modal-hd">操作输出</div>
                                            <div class="am-modal-bd">
                                                <span class="">
                                                    由 {{data.operator.name}} 于 {{data.operated_at}} 操作
                                                    <span class="am-text-danger" ng-show="data.results[0].error_code!=0">{{data.results[0].error_code | exe_result}}</span>
                                                </span>
                                                <ul class="am-list am-list-static">
                                                    <li style="text-align: left; padding: 0px 5px; overflow-x: auto" ng-repeat="line in data.results[0].detail track by $index">
                                                        <span class="am-icon-terminal am-icon-sm am-monospace" style="white-space: pre; margin-left: 5px; margin-right: 5px"> {{line}}</span>
                                                    </li>
                                                </ul>
                                                <span ng-if="data.results[0].detail.length == 0 || data.results[0].detail == null">无操作回显。</span>
                                            </div>
                                            <div class="am-modal-footer">
                                                <span class="am-modal-btn">确定</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <ul ng-show="!pageShow" class="am-pagination am-pagination-right" style="font-size: 13px;">
                        <li>
                            <a ng-click="firstPage()">&laquo;</a>
                        </li>
                        <li>
                            <a ng-click="prePage()">&lt;</a>
                        </li>
                        <li ng-class="{true:'am-active',false:''}[currentPage == page]" ng-repeat="page in pagesNum">
                            <a ng-click="setPages(page)">{{page + 1}}</a>
                        </li>
                        <li>
                            <a ng-click="nextPage()">&gt;</a>
                        </li>
                        <li>
                            <a ng-click="lastPage()">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>